.button {
    min-width: 170px;
    width: auto;
    height: 36px;
    padding: 10px 15px;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    
    &:hover {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid black;
    }

    &.small {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 2px;
    }

    &.google-button {
        background-color: #4c8bf5;
        border: 1px solid #4c8bf5;
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            color: #357ae8;
        }
    }

    &.inverted {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid black;

        &:hover {
            color: #ffffff;
            background-color: #000000;
            border: 1px solid #000000;
        }
    }

    &.red {
        background-color: rgba(231, 19, 12, 0.644);
        color: #ffffff;
        border: none;

        &:hover {
            color: black;
            background-color: #ffffff;
            border: 1px solid rgba(231, 19, 12, 0.644);
        }
    }
}