.wishlist-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45px;
    height: 45px;

    .heart {
        height: 30px;
        width: 30px;
    }

    &:hover {
        cursor: pointer;
    }
}